name: manage-azure-policy-9428c32e
on:
  workflow_dispatch:
    inputs:
      remarks:
        description: 'Reason for triggering the workflow run'
        required: false
        default: 'Updating Azure Policies'


## Uncomment the following if you wish to automatically trigger workflow run with every commit
#
#  push:
#    paths:
#      - 'initiatives/Configure_Azure_Monitor_Agent_to_Linux_virtual_machines_and_associate_to_Data_Collection_Rule_118f04da-0375-44d1-84e3-0fd9e1849403/**'
#      - .github/workflows/manage-azure-policy-9428c32e.yml
jobs:
  apply-azure-policy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS_9428c32e}}
        allow-no-subscriptions: true
    - name: Create or Update Azure Policies
      uses: azure/manage-azure-policy@v0
      with:
        paths: |
          initiatives/Configure_Azure_Monitor_Agent_to_Linux_virtual_machines_and_associate_to_Data_Collection_Rule_118f04da-0375-44d1-84e3-0fd9e1849403/**
